@media (max-width: 1920px) {
}
@media (max-width: 1440px) {
    h1 {
        font-size: 40px;
    }
    h2 {
        font-size: 20px;
        font-weight: 500;
        line-height: 30px;
    }
    h3 {
        font-size: 12px;
        line-height: 28px;
    }
    p {
        font-size: 13px;
    }
    li {
        width: 35%;
        font-size: 13px;
    }
    /* header */
    header {
        height: 120px;
    }
    /* Hero */
    .textohero {
        padding-top: 4%;
    }
    .imagenhero{
        padding-top: 3%;
    }
    .imagenhero img{
        width: 500px;
    }
    /* Sobre */
    .compu img {
        width: 10%;
        height: 22%;
        padding-left: 66%;
        margin-top: -16.5%;
    }
    /* Trabajo */
    .numero2 img {
        width: 40%;
    }
    /* Experiencia */
    .textoexperiencia {
        height: auto;
        transform: scale(0.9); 
        margin: -2% 0 0 -2%;
    }
    .espaciobarra {
        height: 180px;
    }
    .barra {
        width: 100%;
        height: 6%;
        margin: 3.5% 0 3.5% 0;
    }
    /* Ultimos */
    .cuadroformfooter {
        border-bottom-right-radius: 135px;
    }
    .espacioultimos h3 {
        font-size: 23px;
        line-height: 28px;
        margin: 1% 0;;
    }
    .espacioultimos p {
        margin: 1% 0;;
    }
}
@media (max-width: 1280px) {
    h1 {
        font-size: 35px;
    }
    h2 {
        font-size: 17px;
        font-weight: 500;
        line-height: 25px;
    }
    h3 {
        font-size: 12px;
        line-height: 22px;
    }
    p {
        font-size: 12px;
    }
    li {
        width: 35%;
        font-size: 11px;
    }
    /* header */
    header {
        height: 120px;
    }
    /* Hero */
    .invertido {
        gap: 6%;
    }
    .lineavert {
        margin-top: -13px;
    }
    .textohero {
        padding-top: 4%;
    }
    .imagenhero{
        padding-top: 2%;
    }
    .imagenhero img{
        width: 400px;
    }
    /* Sobre */
    .cuadro img {
        display: none;
    }
    .compu img {
        display: none;
    }
    .textosobre {
        padding-left: 10%;
    }
    /* Trabajo */
    .numero2 img {
        width: 30%;
    }
    /* Experiencia */
    .textoexperiencia {
        height: auto;
        transform: scale(0.8); 
        margin: -2% 0 0 -4%;
    }
    .espaciobarra {
        height: 170px;
    }
    .barra {
        width: 100%;
        height: 6%;
        margin: 4% 0 4% 0;
    }
    /* Ultimos */
    .espacioultimos h3 {
        font-size: 23px;
        line-height: 28px;
        margin: 1% 0;;
    }
    .espacioultimos p {
        margin: 1% 0;;
    }
    .ultimos button {
        margin-top: 7%;
    }
    /* footer */
    .cuadroformfooter {
        border-bottom-right-radius: 130px;
    }
    .formulario {
        font-size: 12px;
    }
    .formulario button {
        font-size: 15px;
    }
}
@media (max-width: 1024px) {
    h1 {
        font-size: 28px;
    }
    h2 {
        font-size: 16px;
        font-weight: 500;
        line-height: 20px;
    }
    h3 {
        font-size: 12px;
        line-height: 16px;
    }
    p {
        font-size: 12px;
        line-height: 20px;
    }
    li {
        width: 35%;
        font-size: 12px;
    }
    /* Header */
    header {
        height: auto;
    }
    .links a {
        font-size: 10px;
    }
    .menu a {
    font-size: 12px;
    }
    .menu button {
        font-size: 12px;
    }
    /* Hero */
    .textohero {
        padding-top: 8%;
    }
    .invertido {
        gap: 7%;
        height: 500px;
     }
    .lineavert {
        margin-top: -15%;
        height: 35px;
     }
    .rotar {
        margin-bottom: -10%;
    }
    .imagenhero{
        padding-top: 2%;
    }
    .imagenhero img{
        display: none;
    }
    /* Sobre */
    .cuadro img {
        display: none;
    }
    .compu img {
        display: none;
    }
    .textosobre {
        padding-left: 10%;
    }
    /* Trabajo */
    .numero2 img {
        width: 30%;
        height: 45%;
    }
    .textotrabajo {
        width: 100%;
    }
    .imagentrabajo div {
        display: flex;
        width: 50%;
        justify-content: center;
    }
    .imagentrabajo div a img {
        width: 100%;
        height: auto;
    }
    /* Experiencia */
    .experiencia {
        display: flex;
        justify-content: center; 
        align-items: center;
    }
    .imagenexperiencia {
        width: 50%; 
    }
    .textoexperiencia {
        width: 100%; 
        margin: auto;
        height: auto;
        transform: scale(0.8); 
        margin-top: -3%;
    }
    .textoexperiencia p { 
        font-size: 13px;
    }
    .espaciobarra {
        height: 170px;
    }
    .barra {
        width: 100%;
        height: 4%;
        margin: 2% 0 1.8% 0;
    }
    .experiencialink {
        margin-top: -10%;
    }
    .imagenexperiencia {
        display: none; 
    }
    /* Ultimos */
    .espacioultimos h3 {
        font-size: 23px;
        line-height: 28px;
        margin: 1% 0;;
    }
    .espacioultimos p {
        margin: 1% 0;;
    }  
    .ultimos button {
    font-size: 13px;
    margin-top: 12%;
    }
    /* footer */
    .cuadroformfooter {
        border-bottom-right-radius: 120px;
    }
    .formulario {
        font-size: 9px;
    }
    .formulario button {
        font-size: 13px;
    }
}
@media (max-width: 768px) {
    h1 {
        font-size: 24px;
    }
    h2 {
        font-size: 14px;
        font-weight: 500;
        line-height: 20px;
    }
    h3 {
        font-size: 10px;
        line-height: 16px;
    }
    p {
        font-size: 10px;
        line-height: 20px;
    }
    li {
        width: 35%;
        font-size: 10px;
    }
    button {
        font-size: 13px;
        font-weight: 500;
        padding: 2%;
    }
    /* Header */
    header {
        height: 100px;
    }
    .links {
        height: 15%;
    }
    .menu {
        height: 85%;
    }
    .links a {
        font-size: 8px;
    }
    .menu a {
        font-size: 10px;
    }
    .menu button {
        font-size: 12px;
    }
    /* Hero */
    .textohero {
        padding-top: 4%;
    }
    .invertido {
        gap: 7%;
        height: 370px;
        margin-top: -3%;
    }
    .columna {
        width: 100%;
        height: auto;
    }
    .columna a {
        height: 18px;
    }
    .columna img {
        width: 40%; 
        height: 8px; 
        margin-left: 11px;
    }
    .lineavert {
        margin-bottom: -24px;
        height: 20px;
    }
   .rotar {
        margin-bottom: -10%;
   }
    .imagenhero img{
        display: none;
    }
    /* Sobre */
    .cuadro {
        width: 460px;
    }
    .cuadro img {
        display: none;
    }
    .compu img {
        display: none;
    }
    .textosobre {
        padding-left: 10%;
    }
    /* Trabajo */
    .numero2 img {
        width: 30%;
        height: 35%;
        margin-right: 20%;
    }
    .imagentrabajo {
        display: flex;
        flex-wrap: wrap; 
        justify-content: space-between; 
        align-items: flex-start; 
        gap: 5%;
    }
    .imagentrabajo div { 
        margin-bottom: 20px; 
        flex-basis: 40%;
    }
    .imagentrabajo img {
        width: 100%;
        height: auto;        
        object-fit: contain;
    }
    .textotrabajo {
        width: 100%;
    }
    /* Experiencia */
    .textoexperiencia {
        height: 250px;
        width: 100%; 
        margin-top: -4%; 
    }
    .textoexperiencia2 {
        height: 250px;
        width: 100%; 
        margin-top: -4%; 
    }
    .espaciobarra {
        height: auto; 
        width: 300px;
    }
    .espaciobarra2 {
        height: auto; 
    }
    .barra {
        width: 100%;
        height: 8px; 
        margin: 5.5px 0; 
    }
    .experiencialink {
        margin-top: -8px; 
    }
    .experiencialink a {
        font-size: 10px;
    }
    /* Ultimos */
    .espacioultimos {
        margin-bottom: 16%;
    }
    .espacioultimos h3 {
        font-size: 23px;
        line-height: 28px;
        margin: 1% 0;;
    }
    .espacioultimos p {
        margin: 1% 0;;
    }  
    .ultimos button {
        font-size: 13px;
    }
    /* footer */
    .cuadroformfooter {
        border-bottom-right-radius: 90px;
    }
    .formulario {
        font-size: 9px;
    }
    .formulario button {
        font-size: 13px;
    }
}
@media (max-width: 480px) {
    h1 {
        font-size: 24px;
    }
    h2 {
        font-size: 14px;
        font-weight: 500;
        line-height: 20px;
    }
    h3 {
        font-size: 10px;
        line-height: 16px;
    }
    p {
        font-size: 10px;
        line-height: 20px;
    }
    li {
        width: 50%;
        font-size: 10px;
        padding-left: 4%; 
    }
    ul {
        padding-left: 3%;
    }
    button {
        font-size: 13px;
        font-weight: 500;
        padding: 2%;
    }
    .sombreado {
        text-shadow: 
            0px 1px 0px rgba(	0, 0, 0, 1),
            0px 2px 0px rgba(	255, 255, 255, 1);
    }
    /* Header */
    header {
        height: 80px;
    }
    .menu nav, .menu button, .logo{
        display: none;
    }
    .desaparecer {
        display: flex;
        padding: 20px 0px;
    }
    .links {
        height: 23%;
        align-items: center;
        padding-top: 2%;
    }
    .menu {
        height: 77%;
    }
    .mail a {
        font-size: 9px;
        margin-right: 11%;
    }
    header .links .logoslinks img {
        width: 12px;
        height: auto;
    }
    .menu a {
        font-size: 8px;
    }
    .menu nav a {
        font-size: 6px;
    }
    .menu button {
        font-size: 8px;
    }
    .logo img {
        width: 30px;
    }
    .logo h2 {
        font-size: 11px;
    }
    /* Hero */
    .hero {
        background-size: cover;    
    }
    .textohero h1{
        height: 15px;
    }
    .invertido {
        gap: 9%;
        height: 370px;
        margin-top: -4%;
    }
    .columna {
        width: 100%;
        height: auto;
    }
    .columna a {
        height: 20px;
    }
    .columna img {
        width: 40%; 
        height: 8px; 
        margin-left: 13px;
    }
    .lineavert {
        margin-bottom: -30px;
    }
    .rotar {
        margin-bottom: -10%;
    }
    .imagenhero {
        padding-top: 10%;
    }
    .imagenhero img {
        width: 170px;
    }
    .textohero {
        margin-top: 10%;
    }
    .textohero h1 {
        padding-bottom: 5%;
    }
    .tamaño {
        width: 100%;
        margin-top: 0;
    }
    .lineavert {
        height: 5%;
    }
    /* Sobre */
    .numero1 img {
        margin-left: -3%;
        margin-top: -3%;
    }
    .cuadro {
        border-radius: 50px;
        width: 70%;
    }
    .textosobre {
        line-height: 20px;
    }
    /* Trabajo */
    .numero2 img {
        width: 40%;
        height: 23%;
        translate: 40%;
    }
    .textotrabajo {
        width: 800px;
    }
    /* Experiencia */
    .numero3 img {
        margin-bottom: -10%;
    } 
    .experienciatextoimagen {
        width: 350px;
        margin: 1% 0 5% 0;
        height: 220px;
    }
    .experienciatextoimagen2 {
        width: 350px;
        margin: 1% 0 5% 0;
        height: 220px;
    }
    .textoexperiencia {
        height: 170px;
        width: 100%; 
    }
    .textoexperiencia p {
        margin-bottom: 2%;
    }
    .espacioexperiencia {
        width: 100%;
    }
    .espaciobarra {
        height: auto; 
        width: 200px;
    }
    .espaciobarra2 {
        height: auto; 
    }
    .barra {
        width: 100%;
        height: 8px; 
        margin: 6px 0; 
    }
    .experiencialink {
        margin-top: -8px; 
    }
    .experiencialink a {
        font-size: 10px;
    }
    /* Ultimos */
    .ultimos h3 {
        font-size: 15px;
    }
    .numero4 img {
        margin-bottom: -10%;
    }
    .ultimostextoimagen {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 5%;
    }
    .ultimostextoimagen img {
        height: auto;
    }
    .espacioultimos {
        position: relative;
        flex-basis: 40%;
        padding-bottom: 35%;
        height: 200px;
    }
    .espacioultimos h3 {
        font-size: 23px;
        line-height: 28px;
        margin: 1% 0;
    }
    .espacioultimos p {
        margin: 1% 0;;
    }  
    .ultimos button {
        font-size: 13px;
        margin-top: -10%;
    }
    /* footer */
    .cuadrofooter {
        border-radius: 40px;
    }
    .cuadroformfooter {
        height: 100%;
        border-bottom-right-radius: 50px;
        translate: -5%;
    }
    .formulario {
        font-size: 12px; 
    }
    .formulario button {
        font-size: 12px; 
        width: 40%; 
        padding: 4% 0; 
    }
}
@media (max-width: 320px) {
    h1 {
        font-size: 20px;
    }
    h2 {
        font-size: 14px;
        font-weight: 500;
        line-height: 20px;
    }
    h3 {
        font-size: 10px;
        line-height: 16px;
    }
    p {
        font-size: 10px;
        line-height: 20px;
    }
    li {
        width: 100%;
        font-size: 10px;
        padding-left: 4%; 
    }
    ul {
        padding-left: 3%;
    }
    button {
        font-size: 13px;
        font-weight: 500;
        padding: 2%;
    }
    .sombreado {
        text-shadow: 
            0px 1px 0px rgba(	0, 0, 0, 1),
            0px 2px 0px rgba(	255, 255, 255, 1);
    }
    /* Header */
    header {
        height: 80px;
    }
    .menu nav, .menu button, .logo{
        display: none;
    }
    .desaparecer {
        display: flex;
        padding: 20px 0px;
    }
    .links {
        height: 23%;
        align-items: center;
        padding-top: 2%;
    }
    .menu {
        height: 77%;
    }
    .mail a {
        font-size: 8px;
        margin-right: 14%;
    }
    header .links .logoslinks img {
        width: 12px;
        height: auto;
    }
    .menu a {
        font-size: 8px;
    }
    .menu nav a {
        font-size: 6px;
    }
    .menu button {
        font-size: 8px;
    }
    .logo img {
        width: 30px;
    }
    .logo h2 {
        font-size: 11px;
    }
    /* Hero */
    .hero {
        background-size: cover;    
    }
    .textohero h1{
        height: 15px;
    }
    .invertido {
        gap: 9%;
        height: 370px;
    }
    .columna {
        width: 100%;
        height: auto;
    }
    .columna a {
        height: 20px;
    }
    .columna img {
        width: 40%; 
        height: 8px; 
        margin-left: 13px;
    }
    .lineavert {
        margin-bottom: -30px;
    }
    .rotar {
        margin-bottom: -10%;
    }
    .imagenhero {
        padding-top: 10%;
    }
    .imagenhero img {
        width: 170px;
    }
    .textohero {
        margin-top: 10%;
    }
    .textohero h1 {
        padding-bottom: 5%;
    }
    .textohero p {
        padding-top: 10%;
    }
    .tamaño {
        width: 100%;
        margin-top: 0;
    }
    .lineavert {
        height: 5%;
    }
    /* Sobre */
    .numero1 img {
        margin-left: -3%;
        margin-top: -3%;
    }
    .cuadro {
        border-radius: 50px;
        width: 80%;
    }
    .textosobre {
        line-height: 20px;
    }
    /* Trabajo */
    .numero2 img {
        width: 40%;
        height: 10%;
        translate: 40% 20%;
    }
    .textotrabajo {
        width: 800px;
    }
    /* Experiencia */
    .numero3 img {
        margin-bottom: -16%;
    } 
    .experienciatextoimagen {
        width: 350px;
        margin: 1% 0 5% 0;
        height: 220px;
    }
    .experienciatextoimagen2 {
        width: 350px;
        margin: 1% 0 5% 0;
        height: 220px;
    }
    .textoexperiencia {
        height: 170px;
        width: 100%; 
    }
    .textoexperiencia p {
        margin-bottom: 2%;
    }
    .espacioexperiencia {
        width: 100%;
    }
    .espaciobarra {
        height: auto; 
        width: 200px;
    }
    .espaciobarra2 {
        height: auto; 
    }
    .barra {
        width: 100%;
        height: 8px; 
        margin: 6px 0; 
    }
    .experiencialink {
        margin-top: -8px; 
    }
    .experiencialink a {
        font-size: 10px;
    }
    /* Ultimos */
    .ultimos h3 {
        font-size: 15px;
    }
    .numero4 img {
        margin-bottom: -16%;
    }
    .ultimostextoimagen {
        gap: 3%;
    }
    .ultimostextoimagen img {
        height: auto;
    }
    .espacioultimos {
        position: relative;
        flex-basis: 40%;
        height: 250px;
    }
    .espacioultimos h3 {
        font-size: 23px;
        line-height: 28px;
        margin: 1% 0;
    }
    .espacioultimos p {
        margin: 1% 0;;
    }  
    .ultimos button {
        font-size: 13px;
        margin-top: 0%;
    }
    /* footer */
    .cuadrofooter {
        flex-direction: column-reverse; 
        border-radius: 40px;
        padding: 4%; 
    }
    .cuadroformfooter {
        width: 250px;
        margin: 0;
        translate: -40px;
        border-bottom-right-radius: 30px;
        border-bottom-left-radius: 30px;
    }
    .textofooter {
        width: 100%;
        padding-left: 0;
        padding-top: 4%; 
    }
    .formulario {
        font-size: 12px; 
    }
    .cuadroformfooter button {
        font-size: 12px; 
        width: 40%; 
        padding: 4%; 
    }
    .numero5 img {
        width: 15%;
        height: auto;
        position: absolute;
        translate: 0 -500px;
    }
}
