body {
    background-color: #191923;
    color: white;
    font-family: "Montserrat";
    line-height: 30px;
}
h1 {
    font-family: "Libre Franklin";
    font-size: 60px;
    margin-top: 10px;
}
h3 {
    font-family: "Montserrat";
    font-size: 25px;
}
p {
    font-family: "Montserrat";
    margin-top: 10px;
}
ul {
    display: flex;
    flex-wrap: wrap;
    list-style: '>';
    padding: 0;
    margin: 0;
    padding-left: 4px;
}
li {
    width: 50%; 
    padding-left: 4px; 
    position: relative;
    box-sizing: border-box;
}

/* Header */
header{
    position: fixed;
    width: 100%;
    background-color: #191923;
    border-bottom: 1px solid #2b2a38 ;
    z-index: 1000;
}
.links {
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-self: center;
    padding: 10px 210px;
    background-color: #2b2a38;
}
.mail a {
    color: #b1b2b4;
    text-decoration: none;
    margin-left: 15px;
}
.mail a img {
    width: 15px;
    height: 15px;
    margin-right: 8px;
}
.logoslinks a {
    margin-right: 8px;
    text-decoration: none;
}
.logoslinks a img{
    width: 20px;
    height: 20px;
    margin: 0px;
}
.menu {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 15px;
}
.logo {
    display: flex;
    align-items: center;
}
.logo img {
    width: 40px;
    height: 40px;
    margin-right: 5px;
}
nav {
    position: relative;
    display: flex;
    justify-content: space-between;
}
nav a {
    color: #fff;
    text-decoration: none;
    transition: border 0.3s;
    padding: 10px 15px; 
    border: 2px solid transparent;  
}
nav a:hover {
    background-color: #f52c56;  
}
button {
    position: relative;
    padding: 15px 20px;
    background-color: #f52c56;
    color: #fff;
    border: none;
    cursor: pointer;
    font-size: 18px;
    font-weight: bold;
}
/*Hero*/
.hero  {
    padding: 200px 20px 20px 20px;
    display: flex;
    justify-content: space-between;
    background-image: url(../img/ftofondo.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.invertido {
    display: flex;
    flex-direction: column-reverse;
    padding:  0px 60px 0px 60px;
}
.lineavert {
    border-left: 2px solid #fff;
    height: 35px;
    margin-bottom: 15px;
    margin-left: 12px;
}
.rotar {
    transform: rotate(270deg);
    transform-origin: left bottom;
    margin-left: 22px; 
}
.hero div a img {
    width: 25px;
    height: 25px;
    margin-right: 8px;
}
.textohero {
    margin: 90px 50px 50px 0px;
}
.imagen{
    margin: 50px 100px 50px 0px;
}
.color {
    color: #f52a57;
}
/* sobre */
.sobre {
    margin: 10%;
}
.cuadro {
    display: flex;
    border-radius: 80px;
    background-color: #0b0a0f;
    padding: 10%;
}
.cuadro img {
    margin-left: -40%;
}
.textosobre {
    margin-left: -10%;
}
.numero1 img{
    width: 220px;
    height: 170px;
    position: absolute;
    margin-left: -50px;
    margin-top: -80px;
}
.compu img{
    width: 200px;
    height: 250px;
    position: absolute;
    margin-left: 1290px;
    margin-top: -250px;
}
/* trabajo */
.trabajo {
    margin: 10%;
}
.trabajotextoimagen{
    display: flex;
    justify-content: space-between;
}
.textotrabajo{
    width: 50%;
}
.trabajotextoimagen img{
    width: 220px;
    height: 170px;
}
.imagentrabajo{
    display: flex;
    justify-content: space-between;
}
.imagentrabajo img{
    width: 350px;
    height: 350px;
}
.imagentrabajo p{
    display: flex;
    justify-content: center;
}